body {
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}
/* loading spinner */

.spinner {
  margin: 5rem auto;
  text-align: center;
}
.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: #f38e82;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.myBook {
  padding-top: 130px;
  /* border: 1px solid black; */
  border-radius: 10px;
  width: 80%;
  min-height: 80rem;
  background: #f9f5f3;
  margin: 100px auto 0;
  display: flex;
}

/* search book */
.search__container {
  background-color: #fff;
  border: 1px solid white;
  flex: 2;
  /* padding: 40px; */
}

.search__book {
  /* width: 70%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbf3e4;
  padding: 10px;
  border-radius: 10px;
}

.search__book input {
  border: none;
  background: none;
  height: 30px;
  font-size: 18px;
  border-radius: 4px;
}

.search__book input:focus {
  outline: none;
}

.search__book button {
  height: 30px;
  width: 50px;
  background-color: #fff;
  outline: none;
  margin-left: 30px;
  /* border: none; */
  border-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.search__result {
  margin-top: 20px;
}

/* book list */
.book-list {
  /* padding: 10px; */
  margin: 0 auto;
}

.book-item {
  display: flex;
  /* margin: 10px 0; */
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  background-color: #fbf3e4;
  /* justify-content: space-between; */
  transition: all 0.3s;
}
.book-item:hover {
  transform: translateY(-2px);
}

.book-thumnail {
  width: 120px;
  height: 70px;
  flex: 2;
  /* margin-right: 100px; */
}

.book-thumnail img {
  /* border-radius: 50%; */
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.book-dsec {
  flex: 4;
  margin-left: 10px;
}
.title {
  color: #f38e82;
}
.author {
  font-size: 13px;
}

.divider {
  background-color: #ffffff;
  margin: 0 auto;
  width: 80%;
  height: 0.5px;
}
/* pagination */
.book-pagination {
  position: relative;
}
.prev__btn,
.next__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
}
.prev__btn {
  position: absolute;
}
.next__btn {
  position: absolute;
  right: 0px;
}

/* book detail */
.book__detail-container {
  border: 1px solid beige;
  flex: 5;
}

.book__detail {
  width: 80%;
  margin: auto;
}

.book__main-img {
  width: 35%;
  margin: 0 auto;
}

.book__main-img img {
  width: 100%;
  height: 100%;
}

.book__content {
  margin-top: 70px;
  padding: 10px;
}

.book__title {
  text-align: center;
}

.content__control {
  padding: 20px;
}

.content__control-authors,
.content__control-publisher,
.content__control-pageNum,
.content__control-price {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}
.content__control-authors p,
.content__control-publisher p:nth-child(2) {
  font-size: 16px;
}

.content__control-authors p:first-child,
.content__control-authors p:nth-child(3),
.content__control-publisher p:first-child,
.content__control-publisher p:nth-child(2),
.content__control-pageNum p:first-child,
.content__control-price p:first-child {
  font-size: 14px;
  font-weight: lighter;
  margin-right: 40px;
}

.content__control-authors p:nth-child(3) {
  margin-left: 30px;
}

.content__control-publisher {
  display: flex;
}

.content__control-authors p:first-child,
.content__control-publisher p:first-child {
  padding-right: 23px;
}
.price {
  padding-right: 10px;
}
